.block1{
    background-color:rgb(102, 198, 236);
    width:80%;;
    height:40%;
    padding :10%;
    
    /* float : left; */
    /* margin-right:50px; */
   
}

h4,h3,h2{
    Text-align : center
    
}
.text2{
    font-weight: bold;
    text-align: center;
    height: 50px;
}
.block2{
    background-color:rgb(181, 224, 190);
    width:80%;;
    height:40%;
    padding :10%;
   
    /* float : left; */
    /* margin-right:50px;
    */
}
.block3{
    background-color:rgb(240, 212, 235);
    width:80%;;
    height:40%;
    padding :10%;
    
    /* float :left; */
    /* margin-right:50px; */
   
}
.block4{
    
  display: inline-block;
  
   
}
.text1{
    padding: 5px 10px;
    position: absolute;
    font-weight: bold;
    top:18%;
    background-color: rgba( 255, 255, 255, 0.5 );
    text-align: center;
    transform: translate( 100%, -60% );
}
.text3{
    padding: 5px 10px;
    position: absolute;
    font-weight: bold;
    top:18%;
    background-color: rgba( 255, 255, 255, 0.5 );
    text-align: center;
    transform: translate( 100%, -60% );
}
.text4{
    padding: 5px 10px;
    position: absolute;
    font-weight: bold;
    top:18%;
    background-color: rgba( 255, 255, 255, 0.5 );
    text-align: center;
    transform: translate( 100%, 280% );
}
.right{
   float:right;
}
/* .cen3{
    width:20%;;
    height:40%;
    padding :10%;
   
} */
.wrap{
    /* position:relative; */
    width: 40%;
    float: left;
    display: inline-block;
}
.young-img{
    margin-left: 20%;
    margin-right: 20%;
}